<h3>All Items</h3>
<table class="table table-hover">
	<tr>
		<th>Name</th>
	    <th>Price</th>
	    <th>Description</th>
	    <th>Group</th>
	    <th>Delete</th>
	    <th>Update</th>
	</tr>
	<% @items.each do |item| %>
	<tr>
		<td><%= item.name %></td>
	    <td><%= item.price %></td>
	    <td><%= item.description %></td>
	    <td><a href="/groups/<%= item.group.id %>"><%= item.group.name %></a></td>
	    <td><a href="/items/delete/<%= item.id %>">Delete</a></td>
	    <td><a href="/items/update/<%= item.id %>">Update</a></td>
	</tr>
	<% end %>
</table>

<a class="btn btn-default" href="/add_item">Create new Item</a>
<a class="btn btn-default" href="/add_group">Create new Group</a>