<h3><%= @group.name %></h3>

<h4>Group description:</h4>
<p><%= @group.description %></p>

<h4>Group items:</h4>
<table class="table table-hover">
	<tr>
		<th>Name</th>
	    <th>Price</th>
	    <th>Description</th>
	</tr>
	<% @items.each do |item| %>
	<tr>
		<td><%= item.name %></td>
	    <td><%= item.price %></td>
	    <td><%= item.description %></td>
	</tr>
	<% end %>
</table>